
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 50px 10%;
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 40px;
  color: #0C0553;
}


nav {
  position: fixed;
  background: #033A80;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
 nav ul {
   float: right;
   margin-right: 20px;
 }

 nav ul li {
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
 }

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #06F3AF;
}

nav ul li a.active{
  border: 2px solid #06F3AF;
  color: #06F3AF;
}

nav ul li a.active:hover {
  background-color: #06F3AF;
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home_img img {
  width: 75%;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid #0C0553;
}

.home_texto span {
  font-size: 18px;
  font-weight: 500;
}
.home_texto h1 {
  font-size: 50px;
  color: #0C0553;
}

.home_texto h2 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.home_texto p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 2rem;
  color: #2E394C;
}

.social a:hover {
  color: #167BF7;
}

.btn {
  display: inline-block;
  background: #216FF4;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
}

.btn:hover{
  background: #0C0553;
}
 

.sobre_container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
 
.sobre_img img{
  width: 80%;
  height: 60%;
  border-radius: 0.5rem;
}

.sobre_texto p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 40px;
}

.informacao {
  margin: 1rem 0 1.4rem;
}

.informacao .info_box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.informacao .info_box .fa {
  font-size: 22px;
  color: #A3DADD;
}

.informacao .info_box span {
  font-weight: 400;
  margin-left: 1rem;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.skills_img img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bars_box{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;

}

.bars_box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: #BFBFBF;
  border-radius: 0.5rem;
}
.percent_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: #033A80;
  border-radius: 0.5rem;
}

.html_bar {
  width: 80%;
}

.css_bar {
  width: 70%;
}

.js_bar {
  width: 50%;
}

.react_bar {
  width: 30%;
}

.estudo_content {
  text-align: center;
  margin-top: 2rem;
}

.estudo_content p {
  margin-bottom: 2.5rem;
}

.estudo_content h4 {
  color: #A3DADD;
  font-size: 30px;
}

.estudo_content h5 {
  font-size: 18px;
}


.portfolio_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.portfolio_img {
  overflow: hidden;
  border-radius: 0.5rem;
}
.portfolio_img img {
  width: 50%;
  display: inline-block;
}

.portfolio_img img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.portfolio_img button{
  background-color: #216FF4;
  border: none;
  border-radius: 30px;
  color: #fff;
  padding: 8px;
}

.portfolio_img button:hover{
  background: #0C0553;
}

.contact_form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.contact_form p {
  font-size: 12px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
}

form textarea {
  resize: none;
  height: 200px;
}
.contact_btn {
  width: 100px;
  cursor: pointer;
  background: #2768d9;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.contact_btn:hover {
  background: #0C0553;
}

input:focus, textarea:focus{
  background-color: lightyellow;
}

.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer span {
  font-size: 0.8rem;
  margin-bottom: 1.6rem;
}
.footer_social a i{
  color: rgb(10, 26, 208);
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #F4F6F8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer_social a i:hover{
  background-color: blue;
  color: #F4F6F8;
}


.copyright {
  padding: 20px;
  background: #130464;
  text-align: center;
  color: #fff;
  font-size: 12px;
}


/* Making Responsive */
 
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }

  header {
    padding: 11px 4%;
  }

  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li  a{
    font-size: 20px;
  }
  nav ul li a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;

  }

  header .navig {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navig a {
    padding: 1.5rem;
    display: block;
  }
  
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home_texto {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home_img {
    order: initial;
  }
  .sobre_container {
    grid-template-columns: 1fr;
  }
  .about_img {
    display: flex;
    justify-content: center;
  }
  .skills_container {
    grid-template-columns: 1fr;
  }
  .skills_img img {
    padding-left: 0;
  }
  .skills_img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact_form form{
    width: 300px;
  }
  .contact_btn{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home_texto span {
    font-size: 1rem;
  }
  .home_texto h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .informacao .info_box span {
    font-size: 1.5rem;
  }
  .portfolio_content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact_form form{
    width: 300px;
  }
  .contact_btn{
    margin-left: 25%;
  }
}


